# Title
## Smaller title

In [47]:
def factorial(num):
    if type(num)!=int :
        return None
    if num<0 :
        return None
    if num==0:
        return 1
    
    return num * factorial(num - 1)
factorial(5)

120

In [8]:
a=float(input())
print(type(a))
s=int(a)
print(type(s))
print(s,'''
this is multi line string.
this can be done by using 3(').
     ''',
a)
print(a)

 10.12

<class 'float'>
<class 'int'>
10
this is multi line string.
this can be done by using 3(').
      10.12
10.12

In [15]:
int(12.2)

12

In [75]:
def linear(arr,x):
    flag=False
    print(arr)
    for i in range(0,n) :
        if arr[i]==x:
            print('found')
            flag=True
            break
    if flag==False:
       print('not found')

In [82]:
arr=[]
n=int(input('enter the no of elements in the aray:'))
for i in range(n):
    arr.append(int(input('Enter the number:')))
lin(arr)

enter the no of elements in the aray: 4
Enter the number: 1
Enter the number: 2
Enter the number: 3
Enter the number: 4
enter value to search: 4

Found

In [81]:
def lin(arr):
    x=int(input('enter value to search:'))
    if x in arr:
        print('Found')
    else:
        print('Not found')

In [25]:
class Dog :
    def __init__(self,name):
        self.name=name
        self.leg=4
    def speak(self):
        print(self.name+' says listen to me')
    def hear(self):
        print(self.name+' says yes i\'m listening')

In [26]:
d1=Dog('Rossy')
d2=Dog('Tommy')
d1.speak()
d2.hear()

Rossy says listen to me
Tommy says yes i'm listening

In [34]:
y=2.5424225
print(int(y),round(y,3))

2 2.542

In [49]:
ab='12ba3c'
cd='4352721'
print('value of 4352721 if it were oct:',int(cd,8),'  if it were base 11 is:',int(cd,11))
print('value of 12ba3c in decimal is:',int(ab,16))

value of 4352721 if it were oct: 1168849   if it were base 11 is: 7646134
value of 12ba3c in decimal is: 1227324

In [50]:
bytes(4)

b'\x00\x00\x00\x00'

In [60]:
ef=bytes('etsrqfef','utf-8')
ef

b'etsrqfef'

In [61]:
ef.decode('utf-8')

'etsrqfef'

In [69]:
name='My name is sanal'
name[0:10]

'My name is'

In [70]:
name[:7]

'My name'

In [75]:
abc='My number is '+str(57)
abc

'My number is 57'

In [80]:
bcd=f'My number is {int(50/2+(26/2)-(2**3)+27)}'
bcd

'My number is 57'

In [83]:
list1=[1,2,3,5,6,4,7]
list1[3:]

[5, 6, 4, 7]

In [84]:
list1[0:6]

[1, 2, 3, 5, 6, 4]

In [85]:
list1[0:6:2]

[1, 3, 6]

In [96]:
list2=list(range(100))
list2[::10]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [95]:
list3=list(range(100))
list3[::-10]

[99, 89, 79, 69, 59, 49, 39, 29, 19, 9]

In [1]:
set1={'a','b','c'}
set1

{'a', 'b', 'c'}

In [2]:
myList=list(set1)
myList

['c', 'b', 'a']

In [3]:
tup=(1,2,3,4)
list2=list(tup)
list2

[1, 2, 3, 4]

In [4]:
n1=int(input('enter the number1'))
n2=int(input('enter the number2'))
ch=input('enter op')
if ch== '+':
    print(n1+n2)
elif ch== '-':
    print(n1-n2)
elif ch== '*':
    print(n1*n2)
elif ch=='/':
    print(n1/n2)
else:
    print('error')

enter the number1 12
enter the number2 78
enter op /

0.15384615384615385

In [83]:
pm=int(input('enter input:'))
flag=1
for i in range(2,(int(pm/2)+1)):
    if (pm%i)==0:
        flag=0
        print('number is not prime')
        break
    i=i+1
if flag==1:
    print('Number is prime')

enter input: 11

Number is prime

#### Non-preemptive scheduling

In [82]:
def fcfs() :
    a=int(input('enter no of processes:'))
    bt=[]
    wt=[0]
    avgwt=0
    avgtt=0
    tt=[]
    print('enter the bt of processes in order:')
    for i in range(0,a):
        print('p',i)
        bt.append(int(input()))
        i=i+1
    for i in range(1,a):
        wt.append(wt[i-1]+bt[i-1])
        avgwt+=wt[i]
        i=i+1
    print('avgwt=',avgwt/a)
    for i in range(0,a):
        tt.append(wt[i]+bt[i])
        avgtt+=tt[i]
        i=i+1
    print('avgtt=',avgtt/a)
    print('\nPID\t TT\t WT\n')
    for i in range(0,a):
        print('p',i,'\t' ,tt[i],'\t', wt[i],'\n')
fcfs()

enter no of processes: 4

enter the bt of processes in order:
p 0

 4

p 1

 3

p 2

 2

p 3

 1

avgwt= 5.0
avgtt= 7.5

PID	 TT	 WT

p 0 	 4 	 0

p 1 	 7 	 4

p 2 	 9 	 7

p 3 	 10 	 9

In [ ]:
def ex1():
    l1=[1,2,3,4,5,6,7]
    x=int(input('number:'))
    for i in l1:
        if l1[i]==x:
            print('present')
        else :
            l1.append(x)
        i=i+1
    print(l1)
ex1()

In [ ]:
ex1()

In [ ]:
l2=[2,3,4,5]
y=int(input('enter num:'))
for i in l2:
    if l2[i]==y:
        print("present")
        break
    else :
        l2.append(y)
    i=i+1

In [ ]:
l3=[1,2,3,4]
y=int(input('enter num:'))
if y in l3:
    print('yess')

In [3]:
def ex1():
    l1=[1,2,3,4,5,6,7]
    flag=0
    x=int(input('number:'))
    for i in range(len(l1)):
        if l1[i]==x:
            flag=1
            break
        i=i+1
    if flag==1:
        print('present')
    else:
        print('not present')
        l1.append(x)
        print(l1)

ex1()

number: 9

not present
[1, 2, 3, 4, 5, 6, 7, 9]

In [2]:
a=['1','23','67','33',"hello"]
n=input("Enter a element=")
if n in a:
    print("it is present")
else:
    print("element not found")
    a.append(n)
print("updated list=",a)

Enter a element= 33

it is present
updated list= ['1', '23', '67', '33', 'hello']

In [3]:
def multipleValues():
    return 1,2,3

type(multipleValues())

tuple

In [9]:
a,b,c= multipleValues()

In [10]:
print(a)
print(b)
print(c)

1
2
3

In [15]:
my_dict={
    'a':'apple',
    'b':'ball',
    'c':'cat'
}

In [16]:
my_dict['a']

'apple'

In [17]:
my_dict['d']='dog'
my_dict

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'}

In [19]:
my_dict['c']='carrot'

In [20]:
my_dict

{'a': 'apple', 'b': 'ball', 'c': 'carrot', 'd': 'dog'}

In [22]:
my_dict.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [26]:
my_dict.values()

dict_values(['apple', 'ball', 'carrot', 'dog'])

In [29]:
'ball' in my_dict

False

In [30]:
list(my_dict)

['a', 'b', 'c', 'd']

In [31]:
my=my_dict

In [34]:
type(my.get('e'))

NoneType

In [35]:
len(my)

4

In [40]:
my={
    'a':['apple','anaconda'],
    'b':['ball'],
}
my

{'a': ['apple', 'anaconda'], 'b': ['ball']}

In [85]:
my['d'].append('donkey')
my

defaultdict(list, {'d': ['dog', 'donkey', 'donkey', 'donkey']})

In [84]:
if 'd' not in my:
    my['d']=['dog']
    print(my)

In [77]:
from collections import defaultdict

In [78]:
my=defaultdict(list)

In [86]:
my

defaultdict(list, {'d': ['dog', 'donkey', 'donkey', 'donkey']})

##### list comprehension

In [1]:
l1=[1,2,3,4,5]
[2*item for item in l1]

[2, 4, 6, 8, 10]

In [4]:
flist = [item for item in l1 if item % 10<3]
flist

[1, 2]

In [19]:
str1='I am sanal. I live in palakkad. I\'m an engineering student.'
print(str1.split())
print(str1.split('.'))

['I', 'am', 'sanal.', 'I', 'live', 'in', 'palakkad.', "I'm", 'an', 'engineering', 'student.']
['I am sanal', ' I live in palakkad', " I'm an engineering student", '']

In [23]:
str1='I am sanal.I live in palakkad.I\'m an engineering student.'
s1=str1.split('.')
s1

['I am sanal', 'I live in palakkad', "I'm an engineering student", '']

In [24]:
s2=str(s1)
print(s2.split())

["['I", 'am', "sanal',", "'I", 'live', 'in', "palakkad',", '"I\'m', 'an', 'engineering', 'student",', "'']"]

In [6]:
a=1,2,3
a

(1, 2, 3)

In [16]:
def cleanWord(word):
    return word.replace('.','').upper()
print([cleanWord(word) for word in str1.split()])

['I', 'AM', 'SANAL', 'I', 'LIVE', 'IN', 'PALAKKAD', "I'M", 'AN', 'ENGINEERING', 'STUDENT']

In [18]:
def cleanWord(word):
    return word.replace('.','').upper()
print([cleanWord(word) for word in str1.split() if len(cleanWord(word))<3])

['I', 'AM', 'I', 'IN', 'AN']

In [20]:
print([[cleanWord(word) for word in sentance.split()] for sentance in str1.split('.')])

[['I', 'AM', 'SANAL'], ['I', 'LIVE', 'IN', 'PALAKKAD'], ["I'M", 'AN', 'ENGINEERING', 'STUDENT'], []]

In [21]:
str1

"I am sanal. I live in palakkad. I'm an engineering student."

##### dictionary comprehension

In [78]:
l1=[('a','apple'),('b','ball'),('c','cat')]
dict={key:value for key,value in l1}
dict

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [39]:
list(dict.items())

[('a', 'apple'), ('b', 'ball'), ('c', 'cat')]

In [41]:
[{'letter ' : key,'name' : value} for key,value in dict.items() ]

[{'letter ': 'a', 'name': 'apple'},
 {'letter ': 'b', 'name': 'ball'},
 {'letter ': 'c', 'name': 'cat'}]

In [43]:
n=23423
a='fuzz' if n % 3 == 0 else 'buzz' if n % 7 == 0 else n
a

23423

##### while

In [44]:
from datetime import datetime

In [47]:
datetime.now().second

52

In [48]:
datetime.now().second +2

19

In [ ]:
w=(datetime.now().second)%60
print(w)
while datetime.now().second != w+1:
    print('stil waiting')
print(f'we are at{w+1} seconds')

In [ ]:
w=(datetime.now().second +2)
print(w)
while datetime.now().second != w:
    print(datetime.now().second)
    pass
print(f'we are at{w} seconds')

In [73]:
w=(datetime.now().second +5)%60
print(w)
print('current time=',datetime.now().second) 
while True: 
    if datetime.now().second == w:
        print(f'we are at{w} seconds') 
        break
    if datetime.now().second == w-1:
        print(f'we are at{w-1} seconds') 
        break
    if datetime.now().second == w-2:
        print(f'we are at{w-2} seconds') 
        break

27
current time= 22
we are at25 seconds

In [74]:
w=(datetime.now().second +2)
print(w)
while datetime.now().second != w:
    continue
print(f'we are at{w} seconds')

53
we are at53 seconds

##### for

In [77]:
myList=[1,2,5,8,7,1,2]
for x in myList:
    print(x)

1
2
5
8
7
1
2

In [81]:
dict={'a': 'apple', 'b': 'ball', 'c': 'cat'}
for i,j in dict.items():
    print(f'letter={i} word={j}')

letter=a word=apple
letter=b word=ball
letter=c word=cat

In [82]:
dict={'a': 'apple', 'b': 'ball', 'c': 'cat'}
for i,j in dict.items():
    if len(j)>1:
        print(f'Found:\n letter : {i} word : {j}')
        break
    print(f'letter={i} word={j}')

Found:
 lettera wordapple

In [2]:
s=[2,1,8,4,3]
sorted(s)

[1, 2, 3, 4, 8]

In [65]:
class WordSet:
    def __init__(self):
        self.words=set()
        self.lwords=set()
        self.swords=set()

    def addText(self,text):
        text=WordSet.cleanText(self,text)
        for word in text.split():
            self.words.add(word)
        WordSet.longtext(self,text)
        WordSet.shorttext(self,text)
        print('words:\n',self.words,'\nlong words:\n',self.lwords,'\nshort words:\n',self.swords)

    def cleanText(self,text):
        text=text.replace('.',' ').replace(',',' ').replace('\n',' ')
        return text.lower()
        
    def longtext(self,text):
        for word in text.split(' '):
            if len(word) > 3:
                self.lwords.add(word)

    def shorttext(self,text):
        for word in text.split(' '):
            if len(word) <= 3:
                self.swords.add(word)


obj1=WordSet()
obj1.addText('Here is the first sentance. I\'m gonna edit,punctuate and rewrite it.')
obj2=WordSet()
obj2.addText('''This is the first sentance,
this is the second sentance. here i am typing Tiger
here i am changing it to lion''')

words:
 {'punctuate', 'is', 'here', "i'm", 'gonna', 'the', 'and', 'it', 'edit', 'sentance', 'rewrite', 'first'}
long words:
 {'punctuate', 'here', 'gonna', 'edit', 'sentance', 'rewrite', 'first'}
short words:
 {'', 'is', "i'm", 'the', 'and', 'it'}
words:
 {'i', 'this', 'is', 'tiger', 'lion', 'here', 'changing', 'the', 'second', 'it', 'am', 'sentance', 'to', 'first', 'typing'}
long words:
 {'this', 'tiger', 'lion', 'here', 'changing', 'second', 'sentance', 'first', 'typing'}
short words:
 {'', 'i', 'is', 'the', 'it', 'am', 'to'}

In [36]:
lwords=set()
def ltext(text):
    print(text)
    for word in text.split(' '):
        if len(word) > 2 :
            lwords.add(word)
    return lwords
a='helloo how are u. i am fine thank u.'
b=ltext(a)
print(b)

helloo how are u. i am fine thank u.
{'how', 'fine', 'thank', 'are', 'helloo'}

In [2]:
import time

In [3]:
def causeError():
    start = time.time()
    try :
        time.sleep(0.2)
        return '1' + '1'
    except Exception as e:
        print('Exception has occured\n')
        return e
    finally:
        print(f'function took {time.time() - start} seconds to execute')

causeError()

function took 0.20089316368103027 seconds to execute

'11'

In [4]:
class Exception:
    def __init__(self,n):
        self.ex= n
    def speak(self):
        print(f'no {self.ex} speaks')
    def number(self):
        a=self.ex
        number=a+5
        n2=a-5
        n3=a*5
        print(' ',number,'\n',n2,'\n',n3)
exp= Exception(4)
exp.speak()
exp.number()

no 4 speaks
  9
 -1
 20

In [13]:
class cls:
    def __init__(self,a,b,c):
        self.a=a
        self.b=b
        self.c=c
    def add(self):
        a=self.a
        b=self.b
        c=self.c
        sum=a+b+c
        print(sum)
    def sub(self):
        a=self.a
        b=self.b
        c=self.c
        diff=a-b-c
        print(diff)
    def product(self):
        a=self.a
        b=self.b
        c=self.c
        prod=a*b*c
        print(prod)
    def div(self):
        a=self.a
        b=self.b
        c=self.c
        div=a/(b/c)
        print(div)
    def power(self):
        a=self.a
        b=self.b
        pow=a**b
        print(pow)
    def root(self):
        a=self.a
        r=a**(0.5)
        print(r)
    

op1=cls(4,3,4)
op1.add()
op1.sub()
op1.product()
op1.div()
op1.power()
op1.root()

11
-3
48
5.333333333333333
64
2.0

In [8]:
def exp():
    try:
        return 1/0
    except Exception as e:
        print(f'Exception is {e}')
    finally:
        print('This will always print')
exp()

Exception is division by zero
This will always print

In [11]:
a='''this is a multiline string, 
 this is the second line. 
 and this is the third line.'''
print(a.split(' '))
b=a.upper().split(' ')
print(b)

['this', 'is', 'a', 'multiline', 'string,', '\n', 'this', 'is', 'the', 'second', 'line.', '\n', 'and', 'this', 'is', 'the', 'third', 'line.']
['THIS', 'IS', 'A', 'MULTILINE', 'STRING,', '\n', 'THIS', 'IS', 'THE', 'SECOND', 'LINE.', '\n', 'AND', 'THIS', 'IS', 'THE', 'THIRD', 'LINE.']

In [16]:
a=[1,2,3,4,5,6]
b=[4,5,6,7]
c=[]
for i in a :
    for j in b:
        if i == j:
            c.append(i)

print('Intersection : ',c)
d=set(a+b)
print('Union : ',d)

Intersection :  [4, 5, 6]
Union :  {1, 2, 3, 4, 5, 6, 7}